<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    body {
        background-color: black;
        color: white;
    }
    a {
        color: cornflowerblue;
    }
</style>
<body>
<div>
    <h2 th:text="'Zadeva: ' + ${zadeva}"></h2>
    <p>Registriral si se z uporabniškim imenom: <strong th:text="${uporabniskoIme}"></strong></p>

    <p>Za potrditev elektronskega naslova sledi <a th:href="@{${hostname} + 'uporabniki/potrdi/' + ${kljuc}}">tej povezavi</a></p>

</div>
</body>
</html>